---
layout: base
permalink: /index.html
title: 'OCC News'
description: 'Oceanside Community Club news and events.'
blog:
  title: 'News'
  intro: "Latest News"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">Oceanside Community Club News and Events</h2>
      <p>
        The Oceanside Community Club is a community meeting place, but it is also an event space that you can rent.
      </p>
      <p>
        See 
          <a href="{{ navigation.rentalHome.url }}">{{ navigation.rentalHome.text }}</a>
        for information about renting.
      </p>
      <h2 id="an-eleventy-starter">Oceanside Community Club News and Events</h2>
    </div>
  </article>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
